*{
  box-sizing: border-box;
}
body{
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: 0.0625em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body, h1, h2, p{
  margin:0;
}

.container{
  /* border:1px solid red; */
  /* padding: 3em; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{

  font-size: 2rem;
  margin:3em 0 1em;
  text-transform: uppercase;
}

.box{
  width:100px;
  height:100px;
  margin:10px;
}

.red{
  background: red;
  transition: background 0.2s ease, opacity 2s ease-in-out;
}
.red:hover{
  background: green;
  opacity: 0.1;
}

.blue{
  background: blue;
  animation:fade1 5s ease;
}
@keyframes fade1 {
  from{opacity: 1;}
  to{opacity: 0.2;}
}

.yellow{
  background-color: yellow;
}
.yellow:hover{
  animation:fade2 0.5s ease;
  animation-fill-mode:forwards;
}
@keyframes fade2 {
  from{
    opacity: 1;
    transform: scale(1)
  }
  to{
    opacity: 0.2;
    transform: scale(1.2);
  }
}

button{
  position: absolute;
  top:0px;
  right:0;
  border:unset;
  padding: 0.5em 1em;
  font-size: 2rem;
  font-weight: 700;
  box-shadow: 3px 3px 1px #EEE;
  background-image: linear-gradient(to top left, #FFF, #CCC);
  border-radius: 3px;
}
button:hover{
  transform: scale(1.05);
  opacity:0.7;
  color:#222;
  cursor: pointer;
}
